/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* HOME SECTION */

header {
    min-height: var(--header-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    z-index: 2;
    padding: 2rem 2rem;
}

#container-color-theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

#container-color-theme label {
    display: inline-block;
    white-space: nowrap;
    color: var(--description-text-color, black);
}

#container-color-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    color: black;
    /* padding-bottom: 2rem; */
}

#row-color-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.75rem;
}

.btn-color-theme {
    --color: 0;
    background-color: hsl(var(--color), 60%, 60%);
    aspect-ratio: 1;
    width: 2rem;
    border: 0.25rem solid white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-color-theme-selected {
    border: 0.25rem solid hsl(var(--hue), 90%, 90%);
}

#btn-user-theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    aspect-ratio: 1;
    width: 2.25rem;
    background-color: hsl(var(--hue), 5%, 90%);
    border-radius: 3rem;
}

.fa-plus {
    color: var(--constrast-color, black);
    width: 1em;
}

#slider-color-theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
}

#slider-shade {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 2rem;
    background: -webkit-gradient(linear, left top, right top, from(red), color-stop(17%, #ff0), color-stop(33%, lime), color-stop(50%, cyan), color-stop(66%, blue), color-stop(83%, #f0f), to(red));
    background: -o-linear-gradient(left, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    border-radius: 0.5rem;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider-shade::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid var(--description-text-color);
    border-radius: 1rem;
    height: 2.5rem;
    width: 0.5rem;
    background: transparent;
    cursor: pointer;
}

#slider-shade::-moz-range-thumb {
    width: 0.5rem;
    height: 120%;
    background: transparent;
    cursor: pointer;
    border: 2px solid var(--description-text-color);
}

#slider-color-theme input {
    width: clamp(100px, 150px, 100%);
}

#container-light-theme {
    height: 100%;
    font-size: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5ch;
    padding-right: 1rem;
}

#btn-theme {
    border: 0;
    padding: 0;
    background: transparent;
    font: inherit;
    position: relative;
    height: 34px;
    line-height: 34px;
    /* center icon */
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align label and toggle */
    gap: 0.5ch;
}

#slider-theme {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 60px;
    border-radius: 34px;
    background-color: var(--background-color-toggle);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

#slider-theme::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

#icon-light-mode {
    font-size: inherit;
}

#btn-theme[aria-pressed="true"] #slider-theme {
    background-color: var(--background-color-toggle);
}

#btn-theme[aria-pressed="true"] #slider-theme::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#section-home {
    scroll-margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    background-color: var(--background-color);
    display: -ms-grid;
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;
}

#scroll-button {
    display: block;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.125rem;
}

.bouncing-hand {
    margin-left: 0.5rem;
    display: inline-block;
    -webkit-animation: bounce 1s ease infinite alternate;
    animation: bounce 1s ease infinite alternate;
}

@-webkit-keyframes bounce {
    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(-1rem);
        transform: translateY(-1rem);
    }
}

@keyframes bounce {
    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(-1rem);
        transform: translateY(-1rem);
    }
}

/* Respecting motion preferences */
@media (prefers-reduced-motion: reduce) {
    .bouncing-hand {
        -webkit-animation: none;
        animation: none;
    }
}