/* SECTIONS */

.section {
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 4rem 1rem;
    overflow: hidden;
}

.section-odd {
    background-color: var(--background-color-odd, grey);
}

.section-even {
    background-color: var(--background-color, lightgrey);
}

.section-container {
    display: grid;
    place-content: center;
    grid-template-columns: minmax(0, 1fr);
    max-width: var(--max-width-container, 70ch);
}

.section-title {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

.section-subtitle {
    --margin: 2.5rem 0 1rem 0;
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    margin: var(--margin, 2.5rem 0 1rem 0);
    padding-left: 1.5em;
}

.section-subtitle::before {
    position: absolute;
    right: auto;
    left: 0;
    top: auto;
    bottom: 0.4em;
    z-index: -1;
    background: var(--decorative-color, #ffc862);
    content: "";
    height: 0.3em;
    width: 1em;
    border-radius: 0.3em;
}

.section-subtitle-summary {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.section-subtitle-example {
    --margin-top: 1.5rem;
    position: relative;
    z-index: 1;
    font-size: 1.25rem;
    padding-left: 1em;
    margin: var(--margin-top, 1.5rem) 0 1.5rem 0;
}

.section-subtitle-example::before {
    position: absolute;
    right: auto;
    left: 0;
    top: auto;
    bottom: 0.4em;
    z-index: -1;
    background: var(--decorative-color);
    content: "";
    color: var(--decorative-color);
    height: 0.3em;
    width: 0.3em;
    border-radius: 0.3em;
}

.section-description {
    margin-bottom: 0.5rem;
    background-color: var(--description-background-color, white);
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 0.25rem;
    border-left: 6px solid var(--main-color, black);
}

.section-description p {
    color: var(--description-text-color, black);
}

.section button {
    width: 20rem;
    margin: 1.5rem auto;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: var(--constrast-color);
    color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11),
        0 1px 3px rgba(0, 0, 0, .08);
    transition: transform;
}

.section button:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 50, .1),
        0 3px 6px rgba(0, 0, 0, .08);
}

.section-resources {
    margin-top: 3.25rem;
}

.section-resources+ul {
    padding-left: 1.45rem;
}

.section-subtitle.section-resources::before {
    height: 0.2em;
    width: 0.8em;
    top: 50%;
    transform: translateY(-50%);
}

.section-resources::after {
    position: absolute;
    right: auto;
    left: 0;
    top: 50%;
    bottom: 0;
    z-index: -1;
    background: var(--decorative-color, #ffc862);
    content: "";
    height: 0.2em;
    width: 0.8em;
    border-radius: 0.3em;
    transform: rotate(90deg) translateX(-12.5%);
}

@media (max-width: 500px) {
    .section button {
        width: 100%;
    }
}