/* GENERAL */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root,
:root[theme="light"] {
    --main-color-hue: 301;
    --header-height: 90px;
    --background-color: hsl(45, 0%, 95%);
    --background-color-toggle: hsl(211, 30%, 80%);
    --title-color: hsl(211, 60%, 15%);
    --nav-dot-color: grey;
    --nav-dot-selected: hsl(211, 60%, 15%);
    --code-background-color: hsl(var(--main-color-hue), 30%, 90%);
    --code-color: hsl(var(--main-color-hue), 30%, 40%);
    --pre-background-color: hsl(var(--main-color-hue), 30%, 10%);
    --pre-comment-color: hsl(var(--main-color-hue), 0%, 70%);
    --pre-tag-color: hsl(var(--main-color-hue), 100%, 50%);
    --pre-selector-color: hsl(125, 80%, 50%);
    --warning-color: hsl(3, 100%, 40%);
}

:root[theme="dark"] {
    --header-height: 90px;
    --background-color: hsl(211, 60%, 15%);
    --background-color-toggle: hsl(211, 70%, 30%);
    --title-color: hsl(45, 0%, 95%);
    --nav-dot-color: grey;
    --nav-dot-selected: white;
}

html {
    color: var(--title-color);
    font-size: calc(1rem + 0.5vw);
    scroll-behavior: smooth;
}

h1 {
    font-size: calc(3rem + 2vw);
    color: var(--title-color);
}

a {
    text-decoration: none;
    color: var(--title-color);
}

p {
    max-width: 70ch;
    margin: auto;
}

code {
    background-color: var(--code-background-color);
    color: var(--code-color);
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 3px;
}

.warning {
    color: var(--warning-color);
    font-weight: bold;
}

/* NAV */

nav ul {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li a {
    font-size: 1rem;
    position: relative;
    display: block;
    padding: 0.5rem 2rem;
    color: white;
    text-decoration: none;
}

nav a:hover span {
    transform: scale(1);
}

nav a:hover .nav-label {
    opacity: 1;
}

nav a.selected-nav .nav-dot {
    background-color: var(--nav-dot-selected);
}

nav span {
    transform: scale(0.6);
}

nav .nav-label {
    display: inline-block;
    margin-left: 1rem;
    opacity: 0;
    transform-origin: -50%;
    transition: transform 0.2s, opacity 0.5s;
}

nav .nav-dot {
    display: inline-block;
    position: relative;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: var(--nav-dot-color);
    transition: transform 0.5s, background-color 0.5s;
}

/* HOME SECTION */

header {
    height: var(--header-height);
}

#container-theme {
    height: 100%;
    font-size: 26px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5ch;
    padding-right: 1rem;
}

#btn-theme {
    border: 0;
    padding: 0;
    background: transparent;
    font: inherit;
    position: relative;
    height: 34px;
    line-height: 34px;
    /* center icon */
    cursor: pointer;
    display: flex;
    /* align label and toggle */
    gap: 0.5ch;
}

#slider-theme {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 60px;
    border-radius: 34px;
    background-color: var(--background-color-toggle);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#slider-theme::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#icon-light-mode {
    font-size: inherit;
}

#btn-theme[aria-pressed="true"] #slider-theme {
    background-color: var(--background-color-toggle);
}

#btn-theme[aria-pressed="true"] #slider-theme::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#section-home {
    scroll-margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    background-color: var(--background-color);
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;
}

#scroll-button {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    font-size: 1.4rem;
}

.bouncing-hand {
    margin-left: 0.5rem;
    display: inline-block;
    animation: bounce 1s ease infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-1rem);
    }
}

/* Respecting motion preferences */
@media (prefers-reduced-motion: reduce) {
    .bouncing-hand {
        animation: none;
    }
}

/* SECTION 2 */

#section-relative-units {
    min-height: 100vh;
    background-color: orange;
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;
}

.example-em-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 200px;
    height: 200px;
    margin: auto;
    font-size: 20px;
    background-color: green;
}

.example-em-child-one {
    width: 2em;
    height: 2em;
    background-color: red;
}

.example-em-child-two {
    width: 2em;
    height: 2em;
    font-size: 0.5em;
    background-color: blue;
}


/* SECTION 3 */

#section-3 {
    height: 100vh;
    background-color: orangered;
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;
}

/* PRE */
pre {
    max-width: 60vw;
    padding: 1em;
    margin: auto;
    font-size: 1rem;
    overflow: auto;
    text-align: start;
    background-color: var(--pre-background-color, black);
    color: white;
    border-radius: 0.5em;
}

pre .tag {
    color: var(--pre-tag-color);
}

pre .selector {
    color: var(--pre-selector-color);
}

pre .comment {
    color: var(--pre-comment-color);
}