/* GENERAL */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root,
:root[theme="light"] {
    --background-color: hsl(45, 0%, 95%);
    --background-color-toggle: hsl(211, 30%, 80%);
    --title-color: hsl(211, 60%, 15%);
}

:root[theme="dark"] {
    --background-color: hsl(211, 60%, 15%);
    --background-color-toggle: hsl(211, 70%, 30%);
    --title-color: hsl(45, 0%, 95%);
}

html {
    color: var(--title-color);
}

h1 {
    font-size: calc(3rem + 2vw);
    color: var(--title-color);
}

/* NAV */

nav ul {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

/* HOME SECTION */

header {
    height: 90px;
}

#container-theme {
    height: 100%;
    font-size: 26px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5ch;
    padding-right: 1rem;
}

#btn-theme {
    border: 0;
    padding: 0;
    background: transparent;
    font: inherit;
    position: relative;
    height: 34px;
    line-height: 34px;
    /* center icon */
    cursor: pointer;
    display: flex;
    /* align label and toggle */
    gap: 0.5ch;
}

#slider-theme {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 60px;
    border-radius: 34px;
    background-color: var(--background-color-toggle);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#slider-theme::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#icon-light-mode {
    font-size: inherit;
}

#btn-theme[aria-pressed="true"] #slider-theme {
    background-color: var(--background-color-toggle);
}

#btn-theme[aria-pressed="true"] #slider-theme::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#section-home {
    height: calc(100vh - 90px);
    background-color: var(--background-color);
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;
}

#scroll-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 0;
}

/* SECTION 2 */

#section-2 {
    height: 100vh;
    background-color: orange;
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;
}

/* SECTION 3 */

#section-3 {
    height: 100vh;
    background-color: orangered;
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;
}